@model SkinShop.Models.ViewModels.CompComponentDetailsVM

@helper BuildComments(IEnumerable<SkinShop.Models.SkinShop.CommentDM>
    data, int? parentId = 0)
    {
    var items = data.Where(d => d.ParentCommentId == parentId);
    if (items.Any())
    {
    <div class="messages-block">
        @foreach (var item in items)
        {
            <div class="message">
                <div class="comment-assessment">
                    <img src="~/Content/Images/Icons/icons8-звезда-48.png" class="star" alt="star" /> @item.Assessment
                </div>
                <div class="comment-date">
                    @item.CommentDate.ToShortDateString() <br />
                    @item.CommentDate.ToShortTimeString()
                </div>
                <div class="author">
                    @item.User.Name
                </div>
                <div class="comment-text">
                    @item.Text
                </div>
                @BuildComments(data, item.Id)
            </div>
        }
    </div>
    }
    }

    @{
        ViewBag.Title = "ComputerComponentDetails";
        int j = 1;
        string type = "";
        switch(Model.ComputerComponent.Type)
        {
            case SkinShop.DL.Entities.SkinShop.ComponentType.MotherBoard:
                type = "Материнская плата";
                break;
            case SkinShop.DL.Entities.SkinShop.ComponentType.PowerSupply:
                type = "Блок питания";
                break;
            case SkinShop.DL.Entities.SkinShop.ComponentType.Processor:
                type = "Процессор";
                break;
            case SkinShop.DL.Entities.SkinShop.ComponentType.RAM:
                type = "Оперативная память";
                break;
            case SkinShop.DL.Entities.SkinShop.ComponentType.ROM:
                type = "Постоянная память";
                break;
            case SkinShop.DL.Entities.SkinShop.ComponentType.SystemBlock:
                type = "Системный блок";
                break;
            case SkinShop.DL.Entities.SkinShop.ComponentType.VideoCard:
                type = "Видеокарта";
                break;
        }
    }
    @Styles.Render("~/Content/SkinShopCSS/GameDetails.css")

    <div class="caption gradient-text">@Model.ComputerComponent.Name</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-xs-12 col-sm-12">
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Product.Images.FirstOrDefault().Photo))" alt="@Model.Product.Images.FirstOrDefault().Text" class="img-responsive imgcustom">
                @if (Model.Product.Sale > 0)
                {
                    <div class="sale-details">
                        <img src="~/Content/Images/Sale.png" alt="sale" />
                    </div>
                }
                @if ((DateTime.Now - Model.Product.DateOfAdded).Days < 7)
                {
                    <div class="new-details">
                        <img src="~/Content/Images/new.png" alt="new" />
                    </div>
                }
            </div>
            <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="priceblock col-md-12">
                        <div class="icons-block">
                            <img src="~/Content/Images/Icons/icons8-показать-50.png" alt="showl" class="producticon" />@Model.Product.CountSeen
                            <img src="~/Content/Images/Icons/icons8-корзина-50.png" alt="showl" class="producticon" />@Model.Product.CountOrders
                            <img src="~/Content/Images/Icons/icons8-сердце-50.png" alt="showl" class="producticon" />@Model.Product.CountFavorites
                        </div>
                        <div class="assessment-rezult">
                            @if (Model.Product.Comments.Any())
                            {
                                <div>
                                    <img src="~/Content/Images/Icons/icons8-звезда-48.png" class="star" alt="star" />
                                    @Math.Round(Convert.ToDouble(Model.Product.Comments.Sum(x => x.Assessment)) / Convert.ToDouble(Model.Product.Comments.Count), 1)
                                </div>
                            }
                            else
                            {
                                <div>
                                    <img src="~/Content/Images/Icons/icons8-звезда-48.png" class="star" alt="star" />
                                    0
                                </div>
                            }
                        </div>
                        <div class="price-main">
                            @if (Model.Product.Sale > 0)
                            {
                                <div class="oldprice">@Model.Product.Price uah</div>
                                <div class="newpricel">@(Model.Product.Price - ((Model.Product.Price * Model.Product.Sale) / 100)) uah</div>
                            }
                            else
                            {
                                <div class="newpricel">@Model.Product.Price uah</div>
                            }
                        </div>
                        @if (User.IsInRole("user"))
                        {
                            <div class="buttons">
                                @if (!Model.IsCompCompAlreadyInFavorites)
                                {
                                    <a class="btn favorite" href="@Url.Action("AddToFavorite", "Client", new { skinid = Model.Product.Id})">
                                        <span class="glyphicon glyphicon-heart-empty"></span>
                                    </a>
                                }
                                else if (!Model.IsCompCompAlreadyInBasket)
                                {
                                    <span class="already">Компонент уже в избранном</span>
                                }
                                @if (!Model.IsCompCompAlreadyInBasket)
                                {
                                    <a class="btn basket" href="@Url.Action("AddToBasket", "Client", new { skinid = Model.Product.Id})">
                                        Добавить в корзину
                                    </a>
                                }
                                else
                                {
                                    <span class="already">Компонет уже в корзине</span>
                                }
                            </div>
                        }
                    </div>
                    <div class="characteristics col-md-12">
                        <div>
                            <span class="item"><span class="glyphicon glyphicon-record"></span> Тип: </span>@type
                        </div>
                        <div>
                            <div class="psevdo"></div>
                        </div>
                        @if(Model.ComputerComponent.Properties != null && Model.ComputerComponent.Properties.FirstOrDefault() != null)
                        { 
                            <div>
                                <div class="before-block">
                                    <span class="item">
                                        <span class="glyphicon glyphicon-record"></span> Другие свойства:
                                    </span>
                                </div>
                                @foreach (var i in Model.ComputerComponent.Properties)
                                {
                                    <div class="color-block">
                                        @i.Name: @i.Value
                                    </div>
                                }
                                <div class="psevdo"></div>
                            </div>
                        }
                        <div>
                            <div class="before-block">
                                <span class="item"><span class="glyphicon glyphicon-record"></span> Описание:</span>
                                @if (Model.Product.Description == null || Model.Product.Description == "")
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    @Model.Product.Description
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            @if (Model.OtherComputerComponents != null && Model.OtherComputerComponents.Any())
            {
                <div class="gamecaption">
                    Другие компоненты
                </div>
                foreach (var i in Model.OtherComputerComponents)
                {
                    if (j == 5)
                    {
                        break;
                    }
                    <div class="col-md-3 col-xs-10 col-sm-6 block">
                        <a href="@Url.Action("ComputerComponentDetails", "Home", new { id = i.Id })" class="link">
                            <div class="image">
                                @if (i.Images.FirstOrDefault() != null)
                                {
                                    <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(i.Images.FirstOrDefault().Photo))" alt="@i.Images.FirstOrDefault().Text" class="img-responsive imgcustom">
                                }
                                @if (i.Sale > 0)
                                {
                                    <div class="sale-other">
                                        <img src="~/Content/Images/Sale.png" alt="sale" />
                                    </div>
                                }
                                @if ((DateTime.Now - i.DateOfAdded).Days < 7)
                                {
                                    <div class="new-other">
                                        <img src="~/Content/Images/new.png" alt="new" />
                                    </div>
                                }
                            </div>
                            <div class="descriptiontext">
                                <div class="name">
                                    @i.Name
                                </div>
                                <div class="price">
                                    @if (i.Sale > 0)
                                    {
                                        <div class="oldprice">@i.Price uah</div>
                                        <div class="newprice">@(i.Price - ((i.Price * i.Sale) / 100)) uah</div>
                                    }
                                    else
                                    {
                                        <div class="newprice">@i.Price uah</div>
                                    }
                                </div>
                                <div>
                                    <div>
                                        <img src="~/Content/Images/Icons/icons8-показать-50.png" alt="show" class="producticon" />@i.CountSeen
                                        <img src="~/Content/Images/Icons/icons8-корзина-50.png" alt="show" class="producticon" />@i.CountOrders
                                        <img src="~/Content/Images/Icons/icons8-сердце-50.png" alt="show" class="producticon" />@i.CountFavorites
                                    </div>
                                    <div class="assessment-rezult">
                                        @if (i.Comments != null && i.Comments.FirstOrDefault() != null && i.Comments.Any())
                                        {
                                            <div>
                                                <img src="~/Content/Images/Icons/icons8-звезда-48.png" class="star" alt="star" />
                                                @Math.Round(Convert.ToDouble(i.Comments.Sum(x => x.Assessment)) / Convert.ToDouble(i.Comments.Count), 1)
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <img src="~/Content/Images/Icons/icons8-звезда-48.png" class="star" alt="star" />
                                                0
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="hide">@(j++)</div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="gamecaption">
            Комментарии
        </div>
        @if (User.IsInRole("user"))
        {
            using (Ajax.BeginForm("WriteComment", "Client", new AjaxOptions { UpdateTargetId = "result" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <input name="productId" type="text" value="@Model.Product.Id" hidden />
                        <input name="route" type="text" value="SkinDetails" hidden />
                        <div class="form-body comment-body">
                            <div class="assessment">
                                Оценка:
                                <input name="assessment" min="0" max="5" type="number" class="form-control" required />
                            </div>
                            <div class="text">
                                <textarea name="text" placeholder="Ввведите текст сообщения..." class="form-control" required></textarea>
                            </div>
                            <input id="submit" type="submit" name="Добавить" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        }
        <div id="result">
            @if (Model.Product.Comments == null || Model.Product.Comments.FirstOrDefault() == null)
            {
                <div class="comments-null">Коментраии пока отсутсвуют</div>
            }
            @BuildComments(Model.Product.Comments)
        </div>
    </div>
