@model List<SkinShop.Models.SkinShop.GameDM>

@Styles.Render("~/Content/SkinShopCSS/Main.css")

<div class="main">
    <div class="introduction">
        <div class="logotext gradient-text">
            Geek Cloud
        </div>
        <div class="picture cs revealator-slideright revealator-delay1">
            <div class="contain1">
                <p>Не знаешь где купить скины по выгодным ценам?</p>
                <p>Постоянно в поисках нормального сайта?</p>
            </div>
        </div>
        <div class="picture dota revealator-slideleft revealator-delay1">
            <div class="contain2">
                А когда находишь нужный, после долгих поисков, то оказывается нет того скина, который ты так давно хотел?
            </div>
        </div>
        <div class="picture knifes revealator-slideright revealator-delay1">
            <div class="contain1">
                Но вот ты находишь тот самый сайт, на котором ты находишь тот самый скин...
            </div>
        </div>
        <div class="picture fortnite revealator-slideleft revealator-delay1">
            <div class="contain2">
                И уже представляешь как ты хвастаешься своей покупкой перед друзьями...
            </div>
        </div>
        <div class="picture hots revealator-slideright revealator-delay1">
            <div class="contain1">
                Собрался с силами и купил его...
            </div>
        </div>
        <div class="picture pubg revealator-slideleft revealator-delay1">
            <div class="contain2">
                Но спустя пару дней ты понимаешь, что либо скина снова нет в наличии, либо опять возникли проблемы, связанные с персоналом
            </div>
        </div>
        <div class="picture overwatch revealator-slideright revealator-delay1">
            <div class="contain1">
                Тебе уже надоели все эти разборки и выяснения где же твоя покупка?
            </div>
        </div>
        </div>
        <div class="picture csgo revealator-slideleft revealator-delay1">
            <div class="contain2">
                И каждый раз ты думаешь, почему я должен тратить на всё это своё время?..
            </div>
        </div>
        <div class="picture knifescsgo revealator-slideright revealator-delay1">
            <div class="contain1">
                Тогда ты попал по адресу!
            </div>
        </div>
        <div class="prooves">
            <div class="proofblock ak revealator-slideleft revealator-delay1">
                <div class="contain">
                    Большое разнообращие скинов
                </div>
            </div>
            <div class="proofblock aug revealator-slideup revealator-delay1">
                <div class="contain">
                    Постоянные скидки
                </div>
            </div>
            <div class="proofblock awp revealator-slideright revealator-delay1">
                <div class="contain">
                    Быстрое и качественное обслуживание
                </div>
            </div>
            <div class="proofblock knife revealator-slideright revealator-delay1">
                <div class="contain">
                    Скины из множества различных игр
                </div>
            </div>
            <div class="proofblock m4 revealator-slidedown revealator-delay1">
                <div class="contain">
                    Мы не первый год на рынке
                </div>
            </div>
            <div class="proofblock usp revealator-slideleft revealator-delay1">
                <div class="contain">
                    99.9% клиентов остаются довольными
                </div>
            </div>
        </div>
    <div class="caption gradient-text">
        Список игр
    </div>
    <div class="games">
        @if (Model != null)
        {
            foreach (var i in Model)
            {
                <div class="gameblock revealator-slidedown revealator-delay1">
                    @if (User.IsInRole("admin"))
                    {
                        <div class="deletelink">
                            <a class="btn btn-danger" href="@Url.Action("DeleteGame", "Admin", new { id = i.Id})">Удалить</a>
                        </div>
                        <div class="update">
                            <a href="@Url.Action("UpdateGame", "Admin", new { id = i.Id})" class="btn btn-info">Изменить</a>
                        </div>
                    }
                    @*<a href="@Url.Action("Index", "Home", new { gameName = i.Name})">
                        <div class="gameimage">
                            @if (i.Images.FirstOrDefault() != null)
                            {
                                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(i.Images.FirstOrDefault().Photo))" alt="@i.Images.FirstOrDefault()" class="img-responsive imgcustom">
                            }
                        </div>
                        <div class="gamename">
                            @i.Name
                        </div>
                        <div class="gameinfo">
                            <span class="glyphicon glyphicon-record"></span> @i.Genre <br />
                            <span class="glyphicon glyphicon-record"></span> @i.Type
                        </div>
                    </a>*@
                </div>
            }
        }
    </div>
</div>