@model SkinShop.Models.ViewModels.ContainerDetailsVM

@{
    int j = 1;
}
@Styles.Render("~/Content/SkinShopCSS/GameDetails.css")

<div class="caption gradient-text">@Model.Container.Name</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-12 col-sm-12">
            <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.Product.Images.FirstOrDefault().Photo))" alt="@Model.Product.Images.FirstOrDefault().Text" class="img-responsive imgcustom">
            @if (Model.Product.Sale > 0)
            {
                <div class="sale-details">
                    <img src="~/Content/Images/Sale.png" alt="sale" />
                </div>
            }
            @if ((DateTime.Now - Model.Product.DateOfAdded).Days < 7)
            {
                <div class="new-details">
                    <img src="~/Content/Images/new.png" alt="new" />
                </div>
            }
        </div>
        <div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="priceblock col-md-12">
                    <div class="icons-block">
                        <img src="~/Content/Images/Icons/icons8-показать-50.png" alt="showl" class="producticon" />@Model.Product.CountSeen
                        <img src="~/Content/Images/Icons/icons8-коробка-64.png" alt="showl" class="producticon" />@Model.Product.CountOrders
                        <img src="~/Content/Images/Icons/icons8-сердце-50.png" alt="showl" class="producticon" />@Model.Product.CountFavorites
                    </div>
                    <div class="price-main">
                        @if (Model.Product.Sale > 0)
                        {
                            <div class="oldprice">@Model.Product.Price uah</div>
                            <div class="newpricel">@(Model.Product.Price - ((Model.Product.Price * Model.Product.Sale) / 100)) uah</div>
                        }
                        else
                        {
                            <div class="newpricel">@Model.Product.Price uah</div>
                        }
                    </div>
                </div>
                <div class="characteristics col-md-12">
                    <div>
                        <span class="item"><span class="glyphicon glyphicon-record"></span> Тип: </span> @Model.Container.Type
                    </div>
                    <div>
                        <div class="before-block">
                            <span class="item"><span class="glyphicon glyphicon-record"></span> Описание:</span>
                            @if (Model.Product.Description == null || Model.Product.Description == "")
                            {
                                <span>-</span>
                            }
                            else
                            {
                                @Model.Product.Description
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (User.IsInRole("user"))
    {
        using (Ajax.BeginForm("OpenContainer", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loading" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal customform">
                <div class="form-group">
                    <div>
                        <input id="submit" type="submit" value="Открыть" class="btn open-btn"/>
                    </div>
                    <input name="id" value="@Model.Product.Id" hidden />
                </div>
            </div>
        }
    }
    <div id="loading" class="loading">
        <img src="~/Content/Images/Gifs/loading.gif" class="img-responsive" />
    </div>
    <div id="result" class="result"></div>

    <div class="col-md-12">
        @if (Model.Container.Products != null && Model.Container.Products.Any())
        {
            <div class="gamecaption">
                Из контейнера может выпасть
            </div>
            foreach (var i in Model.Container.Products)
            {
                <div class="col-md-3 block block-inner">
                    @{
                        string route = "";
                        switch (i.Table)
                        {
                            case SkinShop.DL.Entities.SkinShop.Goods.Skin:
                                route = "SkinDetails";
                                break;
                            case SkinShop.DL.Entities.SkinShop.Goods.Game:
                                route = "GameDetails";
                                break;
                            case SkinShop.DL.Entities.SkinShop.Goods.Cloth:
                                route = "ClothDetails";
                                break;
                            case SkinShop.DL.Entities.SkinShop.Goods.Computer:
                                route = "ComputerDetails";
                                break;
                            case SkinShop.DL.Entities.SkinShop.Goods.ComputerComponent:
                                route = "ComputerComponentDetails";
                                break;
                            case SkinShop.DL.Entities.SkinShop.Goods.Container:
                                route = "ContainerDetails";
                                break;
                            case SkinShop.DL.Entities.SkinShop.Goods.Other:
                                route = "OtherDetails";
                                break;
                        }
                    }
                    <a href="@Url.Action(route, "Home", new { id = i.Id })" class="link">
                        <div class="image">
                            @if (i.Images.FirstOrDefault() != null)
                            {
                                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(i.Images.FirstOrDefault().Photo))" alt="@i.Images.FirstOrDefault().Text" class="img-responsive imgcustom">
                            }
                        </div>
                        <div class="descriptiontext">
                            <div class="names">
                                @i.Name
                            </div>
                            <div class="price">
                                @if (i.Sale > 0)
                                {
                                    <div class="oldprice">@i.Price uah</div>
                                    <div class="newprice">@(i.Price - ((i.Price * i.Sale) / 100)) uah</div>
                                }
                                else
                                {
                                    <div class="newprice">@i.Price uah</div>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
<script type="text/javascript">
    $('#open').click(function () {
        $('open-block').hide();
    });
</script>