@model SkinShop.Models.ViewModels.OrdersVM
@foreach (var i in Model.Orders)
{
    if (User.IsInRole("user") && i.IsDeletedFromUser)
    {
        <div class="mainblock deleted col-md-10 col-md-offset-1">
            <div class="dateblock">
                Дата оформления заказа: <span class="date">@i.OrderTime.ToShortDateString()</span>
            </div>
            <div class="reestablish">
                <a href="@Url.Action("ReestablishOrder", "Client", new { id = i.Id})" class="btn">Восстановить</a>
            </div>
        </div>
    }
    else if (User.IsInRole("manager") && i.IsDeletedFromEmployee)
    {
        <div class="mainblock deleted col-md-10 col-md-offset-1">
            <div class="dateblock">
                Дата оформления заказа: <span class="date">@i.OrderTime.ToShortDateString()</span>
            </div>
            <div class="reestablish">
                <a href="@Url.Action("ReestablishOrder", "Employee", new { id = i.Id})" class="btn">Восстановить</a>
            </div>
        </div>
    }
    else
    {
        <div class="mainblock col-md-10 col-md-offset-1">
            <div class="delete-block">
                @if (User.IsInRole("user"))
                {
                    <a href="@Url.Action("DeleteOrder", "Client", new { id = i.Id})" class="btn btn-danger">X</a>
                }
                else if (User.IsInRole("manager"))
                {
                    <a href="@Url.Action("DeleteOrder", "Employee", new { id = i.Id})" class="btn btn-danger">X</a>
                }
            </div>
            @if (i.Client != null)
            {
                <div class="client col-md-12">
                    <a href="@Url.Action("UserInfo", "Account", new { name = i.Client.Email })">
                        <div class="clientname">Клиент: @i.Client.Name</div>
                        <div class="clientphonenumber">Номер телефона: @i.Client.PhoneNumber</div>
                    </a>
                </div>
            }
            <div class="skins col-md-10 col-md-offset-1">
                @foreach (var j in i.OrderCounts)
                {
                    <div class="linkblock">
                        @{
                            string route = "";
                            switch (j.Product.Table)
                            {
                                case SkinShop.DL.Entities.SkinShop.Goods.Skin:
                                    route = "SkinDetails";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Game:
                                    route = "GameDetails";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Cloth:
                                    route = "ClothDetails";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Computer:
                                    route = "ComputerDetails";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.ComputerComponent:
                                    route = "ComputerComponentDetails";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Container:
                                    route = "ContainerDetails";
                                    break;
                                case SkinShop.DL.Entities.SkinShop.Goods.Other:
                                    route = "OtherDetails";
                                    break;
                            }
                        }
                        <a href="@Url.Action(route, "Home", new { id = j.Product.Id })" class="linkskin">
                            <div class="order-image">
                                @if (j.Product.Images.FirstOrDefault() != null)
                                {
                                    <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(j.Product.Images.FirstOrDefault().Photo))" alt="@j.Product.Images.FirstOrDefault().Text" class="img-responsive imgcustom">
                                }
                            </div>
                            <div class="textskin">
                                <div class="nameskin">
                                    @j.Product.Name
                                </div>
                                <div class="price">
                                    @if (j.Product.Sale > 0)
                                    {
                                        <div class="oldprice">@j.Product.Price uah</div>
                                        <div class="newprice">@(j.Product.Price - ((j.Product.Price * j.Product.Sale) / 100)) uah</div>
                                    }
                                    else
                                    {
                                        <div class="newprice">@j.Product.Price uah</div>
                                    }
                                </div>
                                <div class="characteristics">
                                    @if (j.Product.Table == SkinShop.DL.Entities.SkinShop.Goods.Cloth)
                                    {
                                        <div class="color-block">
                                            <div class="color-tag">Цвет:</div>
                                            <div class="color" style="background-color: @j.Color.ColorValue"></div><span>@j.Color.Name</span>
                                        </div>
                                        <div class="color-block">
                                            <div class="color-tag">Размер:</div>
                                            <span>@j.Size</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="count">
                                Количество: @j.Count
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-12 downblock">
                <div class="allprice">
                    Общая стоимость: <span class="newprice">@i.Price uah</span>
                </div>
                <div class="delivery">
                    @if (i.Delivery != null)
                    {
                        <div class="del" onclick="ShowDel(this)" name="@i.Id">
                            <span class="tag">Доставка</span><div class="filter-label"></div>
                        </div>
                        <div id="@i.Id" class="dev-block" hidden name="closed">
                            <div class="pay">
                                Оплата: @i.Delivery.PayType
                            </div>
                            <div class="adress">
                                Адрес доставки: @i.Delivery.DeliveryAddress
                            </div>
                            <div class="del-type">
                                Тип доставки: @i.Delivery.DeliveryType
                            </div>
                            <div class="wishes">
                                Пожелания: @i.Delivery.Wishes
                            </div>
                        </div>
                    }
                    else if (User.IsInRole("user"))
                    {
                        <div class="delivery-btn">
                            <span>Доставка не оформлена</span>
                            <a href="@Url.Action("Delivery", "Client", new { orderId = i.Id})" class="btn btn-default">Оформить доставку</a>
                        </div>
                    }
                    else
                    {
                        <div class="delivery-btn">
                            <span>Доставка не оформлена</span>
                        </div>
                    }
                </div>
                <div class="pay-block">
                    @if (i.IsPayed)
                    {
                        <div class="payed">
                            Заказ оплачен
                        </div>
                    }
                    else if (User.IsInRole("user") && i.Delivery.PayType == "Карта")
                    {
                        <div class="non-payed">
                            <span>Заказ не оплачен</span>
                            <a href="@Url.Action("Pay", "Client", new { orderId = i.Id})" class="btn btn-default">Оплатить заказ</a>
                        </div>
                    }
                    else
                    {
                        <div class="non-payed">
                            <span>Заказ не оплачен</span>
                            @if (User.IsInRole("manager"))
                            {
                                <a href="@Url.Action("Pay", "Employee", new { orderId = i.Id})" class="btn btn-default">Заказ оплачен</a>
                            }
                        </div>
                    }
                </div>
                <div class="dateblock">
                    Дата оформления заказа: <span class="date">@i.OrderTime.ToShortDateString()</span>
                </div>
                <div class="status">
                    Статус: <span class="text-info">@i.Status</span>
                    <div class="buttons">
                        @if (User.IsInRole("manager"))
                        {
                            <div class="employeeblock">
                                @if (i.Status == SkinShop.Models.SkinShop.OrderStatusDM.NotConfirmed)
                                {
                                    <div class="confirm">
                                        <a class="btn btn-success form-control" href="@Url.Action("ConfirmOrder", "Employee", new { id = i.Id })">Подтвердить</a>
                                    </div>
                                    <div class="reject">
                                        <a class="btn btn-danger form-control" href="@Url.Action("Reject", "Employee", new { id = i.Id})">Отклонить</a>
                                    </div>
                                }
                                @if (i.Status == SkinShop.Models.SkinShop.OrderStatusDM.Rejected)
                                {
                                    <div class="confirm">
                                        <a class="btn btn-success form-control" href="@Url.Action("ConfirmOrder", "Employee", new { id = i.Id})">Подтвердить</a>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}
<script type="text/javascript">
    function Reset() {
        document.getElementById('form0').reset();
        Submit();
    }

    function Submit() {
        $('#submit').click();
    }

    $('#minprice').change(function (event) {
        let max = $('#maxprice').val();
        if (event.target.value > max) {
            $('#minprice').val(max);
        }
    });

    $('#maxprice').change(function (event) {
        let min = $('#minprice').val();
        if (event.target.value < min) {
            $('#maxprice').val(min);
        }
    });

    function ShowDel(e) {
        let a = "#";
        a += e.getAttribute("name");
        let div = $(a);
        if (div.attr('name') == "closed") {
            div.show("slow");
            div.attr("name", "open");
            $('.filter-label').css("border-bottom-color", "lightgray");
            $('.filter-label').css("border-top-color", "transparent");
            alert(e.val());
        }
        else {
            div.hide("slow");
            div.attr("name", "closed");
            $('.filter-label').css("border-top-color", "lightgray");
            $('.filter-label').css("border-bottom-color", "transparent");
        }
    };
</script>