@model List<SkinShop.Models.SkinShop.CommentDM>

@helper BuildComments(IEnumerable<SkinShop.Models.SkinShop.CommentDM> data, int? parentId = 0)
{
    var items = data.Where(d => d.ParentCommentId == parentId);
    if (items.Any())
    {
        <div class="messages-block">
            @foreach (var item in items)
            {
                <div class="message">
                    @if(User.Identity.Name == item.User.UserName)
                    {
                        <div class="delete-mes">
                            @Ajax.ActionLink("X", "DeleteComment", "Client", new { commentId = item.Id, productId = item.ProductId }, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loading" }, new { @class = "btn btn-danger"})
                        </div>
                    }
                    <div class="comment-assessment">
                        <img src="~/Content/Images/Icons/icons8-звезда-48.png" class="star" alt="star" /> @item.Assessment
                    </div>
                    <div class="avtar">
                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.User.Image.Photo))" alt="@item.User.Image.Text" class="img">
                    </div>
                    <div class="comment-date">
                        @item.CommentDate
                    </div>
                    <div class="author">
                        @item.User.Name
                    </div>
                    <div class="comment-text">
                        @item.Text
                    </div>
                    @BuildComments(data, item.Id)
                </div>
            }
        </div>
    }
}

@BuildComments(Model)