<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inria+Serif%7CMa+Shan+Zheng%7COswald&display=swap" rel="stylesheet">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SkinShopCSS/Layout.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <link rel="stylesheet" href="~/Content/ScriptsSkinShop/fm.revealator.jquery.css">
    <script src="~/Content/ScriptsSkinShop/fm.revealator.jquery.js"></script>
    <script src="~/Content/ScriptsSkinShop/jquery-1.11.3.min.js"></script>
</head>
<body class="main">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Main", "Home")" class="navbar-brand logo"><img src="~/Content/Images/Geek-Cloud-logo.png" alt="cloud" class="img-responsive"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Каталог
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Home")"> - Скины</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Games", "Home")"> - Игры</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Clothes", "Home")"> - Одежда</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Containers", "Home")"> - Кейсы</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Computers", "Home")"> - Компьютеры</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("ComputerComponents", "Home")"> - Комплектующие</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Others", "Home")"> - Другие товары</a>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("user"))
                        {
                            <li>@Html.ActionLink("Заказы", "Orders", "Client")</li>
                            <li>@Html.ActionLink("Корзина", "Basket", "Client")</li>
                            <li>@Html.ActionLink("Избранное", "Favorites", "Client")</li>
                        }
                        if (User.IsInRole("manager"))
                        {
                            <li>@Html.ActionLink("Заказы", "Orders", "Client")</li>
                        }
                        if (User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Пользователи", "Users", "Admin")</li>
                        }
                    }
                </ul>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav right">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Личный кабинет", "UserInfo", "Account")</li>
                            <li>@Html.ActionLink("Выйти", "Logout", "Account")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="copyright">&copy; @DateTime.Now.Year – Харьков<div class="small">Все права защищены</div></div>
            <div class="icons">
                <div class="captionicons">Связаться с автором</div>
                <div class="iconblock">
                    <a href="https://www.instagram.com/_own_wave_/"><img src="~/Content/Images/Icons/iconfinder_ig_instagram_insta_photo_5340248.png" /></a>
                </div>
                <div class="iconblock">
                    <a href="mailto:nega.nitrogen@gmail.com"><img src="~/Content/Images/Icons/iconfinder_mail_email_e-mail_letter_5340267.png" /></a>
                </div>
                <div class="iconblock">
                    <a href="https://xn--80affa3aj0al.xn--80asehdb/#/im"><img src="~/Content/Images/Icons/iconfinder_telegram_social_media_network_chat_5340247.png" /></a>
                </div>
                <div class="iconblock">
                    <a href="https://vk.com/liman2013"><img src="~/Content/Images/Icons/iconfinder_vk_vkontakte_media_social_5340285.png" /></a>
                </div>
                <div class="iconblock">
                    <a href="https://www.youtube.com/?gl=UA&hl=ru"><img src="~/Content/Images/Icons/iconfinder_youtube_youtuber_video_play_5340279.png" /></a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $('ul.nav li').each(function () { if (this.getElementsByTagName("a")[0].href == location.href) this.className = "active"; });
    </script>
</body>
</html>
